h1{
    color:brown;
}
.header{
    background-color: deepskyblue;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.index{
    background-color: darkmagenta;
}

.grid{
    background-color: darkorange;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly
    
}

.footer{
    background-color: deeppink;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
}

body{
    background-color: #808080;
}
   